export PERIPLUS_EMAIL='your-test-email@example.com'
export PERIPLUS_PASSWORD='your-test-password'
export PERIPLUS_BASE_URL='https://www.periplus.com/'
export PERIPLUS_PRODUCT_QUERY='Harry Potter'
export PERIPLUS_PRODUCT_ID='66846208'
export PERIPLUS_PRODUCT_ISBN='9798886633849'
export PERIPLUS_CART_QUANTITY='2'
export HEADLESS='false'
export BROWSER_TIMEOUT_SECONDS='25'
export CHROME_BINARY=''
